.Logo {
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 32px;
}

.Logo *:first-child {
    font-weight: 500;
    font-style: italic;
}

@media (max-width: 1000px) {
    .Logo{
        font-size: 20px;
    }
}