.Header {
    width: 100%;
    height: var(--header-height);
    padding: 0 var(--global-padding);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--header-z);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1000px) {
    .Header {
        padding: 0 var(--global-padding-mobile);
    }
}
